# local
.DS_STORE
.DS_Store
._*
Homestead.json
Homestead.yaml
/public/*
!/public/robots.txt
!/public/index.php
!/public/.htaccess
!/public/vendor
/resources/views/index.blade.php
/node_modules
/vendor
/packages
.vagrant

# code editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
